<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <%- include('../pageStruct/imports'); -%>
</head>

<body>
    <%- include('../pageStruct/navbar'); -%>

    <div class="container">
        <div class="row">
            <% jobs.forEach((job) => { %>
            <%- include('job_card', { job: job }); -%>
            <% }); %>
        </div>
    </div>

</body>

</html>