<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('../pageStruct/imports'); -%>
</head>

<body>
  <% var active = "Products"; %>
  <%- include('../pageStruct/navbar'); -%>

  <br>
  <div class="container">
    <% products.forEach((product) => { %>
    <%- include('product_card', { product: product }); -%>
    <br><br>
    <% }); %>
  </div>

  <div class="container d-flex justify-content-center">
    <button type="button" class="btn btn-primary" onclick="window.location='products/listBuy'">Finalizar e ir para o carrinho de compras</button>
  </div>

</body>

</html>