<div class="container">
  <div class="row">
    <div class="col-md-4 align-self-center">
      <img src="<%= `/images/${product.image}` %>" class="img-thumbnail">
    </div>
    <div class="col-md-5 align-self-center">
      <h5><%= product.name %></h5>
      <p><%= product.description %></p>
      <p>R$ <%= product.price %>,00</p>
    </div>
    <div class="col-md-3 align-self-center">
      <button type="button" class="btn btn-primary" disabled>Adicionar ao carrinho</button>
    </div>
  </div>
</div>